<header>
        <div class="logo">
            <a href="index.html" class="logo-container">
               
            </a>
        </div>

        <ul class="enlaces">
            <li class="enlace">
                <a href="index.html">
                    <span>VER</span>
                </a>
            </li>

            <li class="enlace">
                <a href="get.html">
                    <span>CONSULTAR</span>
                </a>
            </li>

            <li class="enlace">
                <a href="post.html">
                    <span>CREAR</span>
                </a>
            </li>

            <li class="enlace">
                <a href="put.html">
                    <span>MODIFICAR</span>
                </a>
            </li>
        </ul>
    </header>

    <main>
        <section class="form-productos">
            <h2>Consultar producto por id: </h2>
            
            <form id="getProduct-form">
                <label for="idProd">Id del producto</label>
                <input type="number" name="id" id="idProd" required>

                <input type="submit" value="Consultar producto">
            </form>
        </section>

        <section class="secccion-productos">
            <hr>
            <div id="contenedor-productos">
                </div>
        </section>
    </main>